*{
  box-sizing: border-box
}
/* body {
  background-image: url('http://www.holtz.org/Library/Images/Slideshows/Gallery/Cosmic/Large%20Megallanic%20Cloud%20region%20LH95.jpg');
  opacity: .7;
} */

NavLink {
  text-decoration: none;
  color: black;
  }
NavLink .students {
    text-decoration: none;
    color: black;
    }

header>nav{
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  color: whitesmoke;
  font-size: 1rem;
  text-decoration: none;
  height: 1rem;
  }
.nav-item {
  text-decoration: none;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  padding: 1rem;
  padding-top: 1rem;
  z-index: 1;
  height: 1rem;
}
ul{ list-style-type: none; }
header {
  display: flex;
  background-color: rgb(197, 225, 233);
  width: 100%;
  height: 8rem;
  position: fixed;
  z-index: 0;
  opacity: .5;
}
.nav-item {
  text-decoration: none;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  padding: 1rem;
  padding-top: 1rem;
  z-index: 1;
  height: 1rem;
  justify-content: flex-end;

}
.logo > img {
  display: flex;
  height: 8rem;
  opacity: 1;
  justify-content: flex-start;
}
#title {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Cinzel', serif;
  font-size: 1.75rem;
  padding-top: 0;
  color: black;
  position: absolute;
  z-index: 1;
  height: 4vh;
  top: 5vh;
  right: 0;
  left: 22vw
}
#campus-pic {
  height: 40vh;
  width: 25vw;
}
#campus{
  display: flex;
  flex-direction: row;
  padding-top: 14rem;
  flex-wrap: wrap;
}
#singlecampus{
  padding-top: 14rem;
}

#students {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 14rem;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Cinzel', serif;
  text-decoration: none;
}
section#campus{
  display: flex;
  flex-direction: row;
  padding-top: 14rem;
  flex-wrap: wrap;
}
#campus>div{
  display: flex;
  flex-wrap: wrap;
}
#campus .campus-profile {
  flex: 0 0 50%;
  text-align: center;
  padding: 0;
}
#singlecampus .campus-profile {
  text-align: center;
  padding: 0;
}

#campus .campus-name{
  align-self: center;
  text-align: center;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
}
#singlecampus .campus-name{
  align-self: center;
  text-align: center;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
}
#campus .campus-info {
  flex-direction: row;
   flex-wrap: wrap;
   color: black;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1rem;
}
#campus-pic {
  display: block;
  margin: auto;
}
#singlecampus .campus-info {
   color: black;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1rem;
   left: 20rem;
   right: 20rem;
}
button#submit{
  background:none;
  border:none;
  font-size:1em;
  color: rgb(139, 137, 137);
}
button#delete{
  background:;
  border:none;
  font-size:1em;
  color:rgb(156, 152, 152);
}
